.login {
    left: 35%;
    position: absolute;
    top: 40%;

    mat-form-field {
        width: 20em;
    }

    mat-horizontal-stepper {
        background: #f5f5f5;
        border-radius: 10px;
        width: 23em;

        ::ng-deep {
            .mat-horizontal-stepper-header-container {
                display: none;
            }

            .mat-horizontal-content-container {
                padding-top: 10px;
            }
        }
    }
}